# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# MATLAB
*.asv
*.m~
slprj/
*.slxc

# Arduino / build artefacts
*.hex
*.elf

# Media (optional if you don't want large files tracked)
media/demos/

# CAD exports you don't want (optional)
# cad/**/*.step
# cad/**/*.f3d

